.app.dark {
  --bg-color: #7b447d;
  --inverted-bg-color: #e7e7e7;
  --primary-color: rgb(0, 130, 0);
  --secondary-color: rgb(9, 161, 9);
  --inverted-primary-color: rgb(46, 46, 49);
  --inverted-secondary-color: rgb(31, 36, 45);
}
