.app.light {
  --bg-color: #e7e7e7;
  --inverted-bg-color: #292939;
  --primary-color: rgb(33, 37, 55);
  --secondary-color: rgb(40, 64, 108);
  --inverted-primary-color: rgb(130, 0, 117);
  --inverted-secondary-color: rgb(133, 5, 192);
}
