.app.light {
  --bg-color: #e7e7e7;
  --inverted-bg-color: #0e0e75;
  --primary-color: rgb(1, 24, 116);
  --secondary-color: rgb(3, 75, 210);
  --inverted-primary-color: rgb(0, 130, 0);
  --inverted-secondary-color: rgb(5, 192, 5);
}
